<!DOCTYPE html>
<html>
<head>
    <!-- ... your head content ... -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('user_profile')}}">My Profile</a></li>
            <li><a href="{{ url_for('buy_sell')}}">Sell/Buy</a></li>
            <li><a href="{{ url_for('buy_rent')}}">Rent/Give</a></li>
            <li><a href="{{ url_for('jobs')}}">Hire/Get Hired</a></li>
            <li><a href="#">Share Vehicle</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
