{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Job Details</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Job Details</h1>

    <p>Role Name: {{ job_details[1] }}</p>
    <p>Skills: {{ job_details[2] }}</p>
    <p>Description: {{ job_details[3] }}</p>
    <p>Duration: {{ job_details[4] }}</p>
    <a href="{{ url_for('hire_person_details', seller_name=job_details[5]) }}">View Seller Profile</a>

    <a href="{{ url_for('jobs') }}">Back to Jobs</a>
</body>
</html>
{% endblock %}