{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>My Posted Jobs</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>My Posted Jobs</h1>

    <ul>
        {% for job in user_jobs %}
            <li>{{ job[1] }}</li>
            <p>Skills: {{ job[2] }}</p>
            <p>Description: {{ job[3] }}</p>
            <p>Duration: {{ job[4] }}</p>

            <!-- Button to delete the job -->
            <form method="POST" action="{{ url_for('delete_job', job_id=job[0]) }}">
                <button type="submit">Delete</button>
            </form>
            <hr>
        {% endfor %}
    </ul>

    <!-- Add a link to go back to the dashboard or other pages -->
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
</body>
</html>
{% endblock %}