<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/user-profile.css') }}">
</head>
<body>
     <div class="main">
        <div class="class1" id="first">
        <img src="{{ seller[6] }}" alt="ID Card Photo" id="photo">
        </div>
        
        <div class="class1" id="second">
            <div id="matter">
                <h1>Sharer Profile</h1>
        <p><strong>Full Name:</strong>{{ seller[1] }}</p>
        <p><strong>Roll Number:</strong> {{ seller[2] }}</p>
        <p><strong>Branch:</strong> {{ seller[3] }}</p>
        <p><strong>Phone Number:</strong> {{ seller[4] }}</p>
        <p><strong>Email:</strong> {{ seller[5] }}</p>
    
            </div>
        </div></div>
   
    <div style="margin-left: 700px;">
    <a href="{{ url_for('share_vehicle') }}">Back to View Rides</a></br>
</div>
    <b style="margin-left: 600px; margin-bottom: -50px;"> If you like the deal, You can call the Ride Provider</b>
</body>
</html>


